{% extends "base.html" %}
{% load static %}
{% block metadescription %}
	{% if category %}
		{{ category.description|truncatewords:155 }}
	{% else %}
		Welcome to the MechanicaX store where you can buy various innovative products.
	{% endif %}
{% endblock %}
{% block title %}
	{% if category %}
		{{category.name }} - MechanicaX Store
	{% else %}
		Check out our collection - MechanicaX Store
	{% endif %}
{% endblock %}
{% block content %}

	{% if category %}
		<div>
			<div>
				<p><a href="{% url 'shop:allProdCat' %}">Our products collection</a>| {{category.name}}</p>
			</div>
		</div>
	{% endif %}
	<div>
		{% if category %}
		<img src="{{category.image.url}}" alt="{{category.name}}">
	</div>
	<br>
	<div>
		<h1>{{category.name}}</h1>
		<p>{{category.description}}</p>
	</div>
		{% else %}
		<img src="{% static 'images/Banner.JPG' %}" alt="Our products collection">
		</div>
		<br>
		<div>
			<h1>Our products collection</h1>
			<p>Find everything you need for automated desks to various comfort accessories</p>
		</div>
		{% endif %}
		<div>
			<div>
				{% for product in products %}
					<div>
						<div>
							<a href=""><img src="{{product.image.url}}" alt="{{product.name}}"></a>
							<div>
								<h4>{{product.name}}</h4>
								<p>Euro {{product.price}}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
{% endblock %}